/* Set styles for all images */
img {
    display: flex;
    flex-basis: 100%; /* Set width to 100% of container */
    max-width: 600px; /* Set maximum width */
    min-width: 20%; /* Set minimum width */
    width: 100%;
    margin: 2% auto; /* Center image horizontally */
    border: 2px solid #d5e1da;
}

/* Set styles for main headings */
h1 {
    text-align: center;
    font-family: pal1;
    margin-bottom: 1%; /* Add some space below */
    font-size: 24px;
}

/* Set styles for subheadings */
h2, h3, h5, h6 {
    margin: 0 2%; /* Add some margin on left and right */
    border-bottom: 1px solid #d5e1da; /* Add a border on the bottom */
    font-size: medium; /* Set font size */
}

/* Set styles for sub-subheading */
h4 {
    max-width: fit-content; /* Set maximum width to fit content */
    font-size: medium;
}

/* Set default styles for all elements */
* {
    background-color: #2c2332;
    color: #d5e1da;
    font-family: pal2;
}

/* Set styles for body */
body {
    display: flex;
    flex-direction: column;
    margin: 0 10%; /* Add some margin on left and right */
    border: 1px solid #d5e1da;
    background-color: #3a3b52;
}

body * {
    background-color: #3a3b52;
}

/* Set styles for paragraphs and subheadings */
p, h2, h3, h4, h5, h6 {
    margin: 0 2% 1.5%; /* Add some margin on left, right, and bottom */

}

/* Define custom fonts */
@font-face {
    font-family: pal1;
    src: url('../fonts/Palanquin-SemiBold.ttf');
}

@font-face {
    font-family: pal2;
    src: url('../fonts/Palanquin-Regular.ttf');
}

/* Set styles for paragraphs */
p {
    margin-top: 1px; /* Add a little bit of space at the top */
    padding-left: 1%; /* Add a little bit of padding on the left */
    max-height: fit-content; /* Set maximum height to fit content */
    font-size: 14px;
}

/* Set styles for bottom bar */
.bottom_bar {
    display: flex;
    margin: 0 5%; /* Add some margin on left and right */
    gap: 2%; /* Add some gap between child elements */
    align-content: end;
    justify-content: center;
    font-size: 12px;
}

/* Set styles for a specific subheading */
h3 {
    font-size: larger;
}

a {
    text-decoration: none;
}