body * {
    display: block;
    padding: 3px;
    /* border: 2px solid rgb(255, 130, 174); */
    
}

img {
    height: auto;
    width: 400px;
    margin: 0 auto;
}

h1, h3 {
    text-align: center;
} 