/* Set default styles for all elements */
* {
    background-color: #2c2332;
    color: #d5e1da;
    font-family: pal2, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Set styles for body */
body {
    text-align: left;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    margin: 8% 8%; /* Add some margin on left and right */
    border: 1px solid #d5e1da;
    background-color: #3a3b52;
    font-size: 14px;
    
}

body * {
    background-color: #3a3b52;
    margin: 2% 2%;
    
}

img { 
    border: 2px solid #d5e1da;
}

/* Define custom fonts */
@font-face {
    font-family: pal1;
    src: url('../fonts/Palanquin-SemiBold.ttf');
}

@font-face {
    font-family: pal2;
    src: url('../fonts/Palanquin-Regular.ttf');
}

a {
    text-decoration: none;
}

/* Set styles for nav bars */
.top_bar, .bottom_bar {
    display: flex;
    margin: 0 5%; /* Add some margin on left and right */
    gap: 2%; /* Add some gap between child elements */
    align-content: start;
    justify-content: center;
    font-size: 12px;
    
}

.top_bar {
    border-bottom: 1px solid #d5e1da;
}

h1 { 
    text-align: center;
    margin: auto auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 1%;
}

h3, h4 {
    border-bottom: 1px solid #d5e1da;
}

h4 {
    max-width: fit-content;
}

p { 
    margin-bottom: 4%;
    font-size: 13px;
}

.character_display { 
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
}